DEBUG=0
SECRET_KEY=replace-with-generated-hash-for-prod
DJANGO_ALLOWED_HOSTS=127.0.0.1 0.0.0.0 boilerplate.design1010.com www.boilerplate.design1010.com
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=hello_django_prod
SQL_USER=hello_django
SQL_PASSWORD=hello_django
SQL_HOST=db
SQL_PORT=5432
DATABASE=postgres