{% load i18n %}

{% block subject %}
{% blocktrans %}{{ site_name }} Username Changed!{% endblocktrans %}
{% endblock %}

{% block text_body %}
{% trans "Your username has been changed!" %}

{% trans "Thank you!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% trans "Your username has been changed!" %}</p>

<p>{% trans "Thank you!" %}</p>

<p>{% blocktrans %}The {{ site_name }} team{% endblocktrans %}</p>
{% endblock html_body %}